$background-color:  #AD0000;

$full-color:  rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 0.7);


.widget-nextbus {

  background-color: $background-color;

  .title {
    color: $light-color;
  }

  .temp {
    color: $full-color;
  }

  .summary {
    color: $light-color;
  }

  .more-info {
      color: $light-color;
  }

  .updated-at {
    color: $light-color;
  }

  h1 {
    font-size:25px !important;
  }

  h2 {
    font-size:63px !important;
    text-transform: none !important;
  }

  h4 {
    font-size:16.66667px !important;
  }

  img {
    position: absolute;
    top:5%;
    left:5%;
    width:40%;
    opacity:0.2;

  }


  /*
  .title{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:20px;
  }
  */
}

